<ion-header>
    <ion-toolbar>
      <ion-title>Show Customer</ion-title>
      <ion-buttons slot="primary">
        <ion-back-button text="Back" icon="" color="tertiary" fill="outline"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
    <ion-card-header>
      <ion-card-subtitle>View</ion-card-subtitle>
      <ion-card-title>{{name_customer}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{desc_customer}}
    </ion-card-content>
  </ion-card>
  </ion-content>
  