<ion-content color="primary" padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  expand="block" name="username" [(ngModel)]="username" placeholder="Username" ngModel required></ion-input>
            </ion-item>
            <ion-item>
                <ion-input name="password" type="password" [(ngModel)]="password" placeholder="Password"  ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button expand="block" shape="round" [disabled]="form.invalid" size="large" (click)="proseslogin()" >Sign In</ion-button>
            <ion-button expand="block" shape="round" size="large" (click)="formRegister()">Register</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
