<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome {{username}}
    </ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="proseslogout()"><ion-icon slot="end" ios="ios-exit" md="md-exit" name="log-out"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Its work...
  </div>
</ion-content>
