 <ion-content  color="primary">
    <form  #form="ngForm" (ngSubmit)="register(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>Create your account!</h3>
            </div>
            <div padding>
              <ion-item>
                  <ion-input type="text" name="full_name" placeholder="Fullname" [(ngModel)]="full_name" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input type="text" name="phone_number" placeholder="Phone Number" [(ngModel)]="phone_number" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input type="text" name="username" placeholder="Username" [(ngModel)]="username" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input type="password"  name="password" placeholder="Password" [(ngModel)]="password" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input type="password"  name="confirm_password" placeholder="Confirm Password" [(ngModel)]="confirm_password" ngModel required></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button expand="block" shape="round" size="large" (click)="addRegister()">Submit</ion-button>
              <ion-button expand="block" shape="round" size="large" (click)="formLogin()">Sign In</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
